<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLBTConnectionString" connectionString="Data Source=DESKTOP-GQTRKCK\SQLEXPRESS;Initial Catalog=QLBT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>